body{
    margin:0;
    color: rgb(49, 49, 49);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: bisque;
    height: 100vh;
}
#display{
    display: flex;
    width: 90vw;
    height: 80vh;
    background-color: #c83ff1;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50px;
    border: dotted lightgrey 5px;
}
.bar{
    background-color: skyblue;
    border: solid black 1px;

}
#sort{
    background-color: #B7F7F7;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}
#selectionSort{
    border: dotted black 2px;
    width: 30%;
    text-align: center;
    border-radius: 25px;
}
#insertionSort{
    border: dotted black 2px;
    width: 30%;
    text-align: center;
    border-radius: 25px;
}